@model AptekaKg.ViewModels.BacsketViewModel
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
	.right-grid {
    display: flex;
    flex-direction: column;
}

.price-trash {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


	.counter {
		font-size: 1.5em;
		width: 90px;
		text-align: center;
		margin: 0 10px;
	}

</style>
<body>
	<div class="menu">
		<div class="container">
			<div class="menu_box">
				<ul class="megamenu skyblue">
					@foreach (var cat in Model.Categories)
					{
						<li>
							<a class="color10" asp-controller="Category" asp-action="Index" asp-route-catid="@cat.Id" style=" width:120px;text-align:center;">@cat.Name</a>
							<div class="megapanel">
								<div class="row">
									@{
										var integer = 0;
										var count = Model.SubCategories.Where(x => x.CategoryId == cat.Id).Count();
										double ans = count / 8;
										ans = Math.Round(ans);
										var catlist = Model.SubCategories.Where(x => x.CategoryId == cat.Id).ToArray();
									}
									@for (int i = 0; i < ans; i++)
									{
										<div class="col1">
											<div class="h_nav">
												<ul>
													@for (int k = i * 8; k <= (i * 8 + 8) - 1; k++)
													{
														<li><a asp-controller="Category" asp-action="Index" asp-route-subcatid="@catlist[k].Id">@catlist[k].Name</a></li>
													}
												</ul>
											</div>
										</div>

									}
								</div>
							</div>
						</li>
					}
					<div class="clearfix"> </div>
				</ul>
			</div>
		</div>
	</div>
	<div class="men">
		<div class="container">
			<div class="wishlist" id="wishlistdiv">
				@if (@Model.Baskets.ToList().Count == 0)
				{
				<h4 class="title">Shopping cart is empty</h4>
					<p class="cart">You have no items in your shopping cart.<br>Click<a asp-controller="Home" asp-action="Index"> here</a> to continue shopping</p>
				}
				else
				{
					<div class="col-md-8">
					@foreach(var med in Model.Baskets)
					{
							<div class="a-top" id="line-@med.Medicine.Id" style="display: flex; align-items: center;">
								<div class="left-grid">
									<img src="@med.Medicine.ImageUrl" class="img-responsive" alt="" />
								</div>
								<div class="right-grid" style="margin-left: 10px;">
									<div style="display: flex; align-items: center;">
										<h3 style="margin-right: 10px;">@med.Medicine.Name</h3>
										<input type="number" id="counter-@med.Medicine.Id" class="counter" value="@med.Count" min="1" onchange="countupdate(@med.Medicine.Id)" style="width: 50px;">
									</div>
									<div class="price-trash">
										<h5>@med.Medicine.Price c</h5>
										<input type="hidden" name="hiddenprice" value="@ViewBag.Price" />
										<input type="hidden" id="medprice-@med.Medicine.Id" name="hiddenprice" value="@med.Medicine.Price" />
										<i class="fa-solid fa-trash delete" id="@med.Medicine.Id" type="submit" style="color:tomato"></i>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
					}
					<div class="clearfix"></div>
					</div>
					<h3 id="finalprice">Цена:@ViewBag.Price c</h3>
					<form method="post" asp-controller="Account" asp-action="Buy" id="buyForm">
						<input type="hidden" name="hiddenprice" id="hiddenPrice" value="@ViewBag.Price" />
						<input type="hidden" id="routePrice" name="routePrice" />
						<button class="acount-btn" type="submit" onclick="setRoutePrice()">Купить</button>
					</form>
				}
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<img src="images/pay.png" class="img-responsive" alt="" />
			<ul class="footer_nav">
				<li><a href="#">Home</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Shop</a></li>
				<li><a href="#">Media</a></li>
				<li><a href="#">Features</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="contact.html">Contact Us</a></li>
			</ul>
			<p class="copy">Copyright&copy; 2015 Template by <a href="http://w3layouts.com" target="_blank"> w3layouts</a></p>
		</div>
	</div>
	<script>
		$(document).ready(function () {
			$('.delete').on('click', function () {
				let medicid = this.id;
				$.post('@Url.Action("DeleteBascket", "Account")',
					{
						medid: medicid
					},
					function (response) {
						if (response[0] == "Success") {
							$(`#line-${medicid}`).remove()
							calculateTotal()

							if (response[1] == 0) {
								let wishfield = document.getElementById('wishlistdiv');
								wishfield.innerHTML = '';
							}
						}
					}
				)
			})
		})

		function setRoutePrice() {
			var hiddenPriceValue = document.getElementById('hiddenPrice').value;
			document.getElementById('routePrice').value = hiddenPriceValue;

			// Add the hidden price to the form's action as a route value
			var form = document.getElementById('buyForm');
			var action = form.getAttribute('action');
			form.setAttribute('action', action + '?price=' + hiddenPriceValue);
		}

		function countupdate(counterpressid) {
			let medicid = counterpressid;
			let countnumber = document.getElementById('counter-' + counterpressid).value;
			$.post('@Url.Action("UpdateCountBascket", "Account")',
				{
					medid: medicid,
					count: countnumber
				},
				function (response) {
					if (response[0] == "Success") {

					}
				}
			)
			calculateTotal();
		}

		function calculateTotal() {
			var total = 0;

			// Получаем все элементы с классом counter
			var counters = document.getElementsByClassName('counter');
			console.log(counters);
			// Проходимся по каждому элементу счетчика и обновляем общую сумму
			for (var i = 0; i < counters.length; i++) {
				var id = counters[i].id.split('-')[1];
				console.log(id);// Получаем Id лекарства
				var count = parseInt(counters[i].value);
				console.log(count);// Получаем текущее значение счетчика
				var price = parseInt(document.getElementById('medprice-' + id).value);
				console.log(price);// Получаем цену

				// Умножаем цену на количество и добавляем к общей сумме
				total += count * price;
			}

				// Выводим общую сумму на страницу
				 // Округляем до двух знаков после запятой
			let pricefield = document.getElementById('finalprice');
			pricefield.textContent = 'Цена: ' + total.toFixed(0) + ' c';
			let pricefieldhide = document.getElementById('hiddenPrice');
			pricefieldhide.value = total.toFixed(0);
		}
	</script>
</body>